<div class="row span10">
  <%= form_for(@evaluation, :url => room_evaluations_path(:room_id => @room), :html => {:class => "form-horizontal"}) do |f| %>
    <div class="control-group">
      <label class="control-label h5">평가</label>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :like, true, {:checked => true} %>
          좋아요
        </label>
        <label class="radio">
          <%= f.radio_button :like, false %>
          싫어요
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">상세 내용</label>
      <div class="controls">
        <%= f.text_area :content %>
        <span id="validation_evaluation_content" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">정보</label>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :type, Evaluation::RENT %>
          월세
        </label>
        <label class="radio">
          <%= f.radio_button :type, Evaluation::LEASE %>
          전세
        </label>
        <span id="validation_evaluation_type" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">보증금</label>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :deposit %>
          <span class="add-on">만원</span>
        </div>
        <span id="validation_evaluation_deposit" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">월세</label>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :rent %>
          <span class="add-on">만원</span>
        </div>
        <span id="validation_evaluation_rent" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">관리비</label>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :maintenance %>
          <span class="add-on">만원</span>
        </div>
        <span id="validation_evaluation_maintenance" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">포함항목</label>
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :gas, {}, true, false %>
          가스비
        </label>
        <label class="checkbox">
          <%= f.check_box :electricity, {}, true, false %>
          전기료
        </label>
        <label class="checkbox">
          <%= f.check_box :water, {}, true, false %>
          수도료
        </label>
      </div>
    </div>
  <% end %>

  <div class="offset7 span3">
    <%= link_to_function '작성하기', nil, :id => 'submit', :class => 'btn btn-inverse', :rel => '#new_evaluation' %>
    <%= link_to '뒤로', "#rooms/#{@room.id}", :class => 'btn' %>
  </div>
</div>
