<div class="search_form search_advanced inner_container">
  <h4 class="title">
    <%= image_tag 'bullet_black.png' %>
    상세검색
  </h4>

  <div class="form-horizontal form-horizontal-slide">
    <div class="control-group">
      <label class="control-label h5">지역</label>
      <div class="controls">
        <label class="checkbox">
          <%= check_box :region, Room::NOKDOO[:id], {:checked => true}, true, false %>
          녹두
        </label>
        <label class="checkbox">
          <%= check_box :region, Room::ENTRANCE[:id], {:checked => true}, true, false %>
          서울대입구
        </label>
        <label class="checkbox">
          <%= check_box :region, Room::NAKSEONGDAE[:id], {:checked => true}, true, false %>
          낙성대
        </label>
      </div>
    </div>
    <div>
    <div class="control-group">
      <label class="control-label h5">가격</label>
      <div class="controls">
        <label class="checkbox">
          <%= check_box :type, :rent, {}, true, false %>
          월세
        </label>
        <div class="inner-controls">   
          <div class="search_controls">
            <%= hidden_field :rent, :deposit_min, {:id => "rent_deposit-min"} %>
            <%= hidden_field :rent, :deposit_max, {:id => "rent_deposit-max"} %>
            <strong>보증금</strong>
            <span id="rent_deposit-value" class="search_values"></span>
            <div id="rent_deposit-slider" class="search_slider"></div>
          </div>
          <div class="search_controls">
            <%= hidden_field :rent, :rent_min, {:id => "rent_rent-min"} %>
            <%= hidden_field :rent, :rent_max, {:id => "rent_rent-max"} %>
            <strong>월세</strong>
            <span id="rent_rent-value" class="search_values"></span>
            <div id="rent_rent-slider" class="search_slider"></div>
          </div>
        </div>
        <label class="checkbox">
          <%= check_box :type, :lease, {}, true, false %>
          전세
        </label>
        <div class="inner-controls">
          <div class="search_controls">
            <%= hidden_field :lease, :deposit_min, {:id => "lease_deposit-min"} %>
            <%= hidden_field :lease, :deposit_max, {:id => "lease_deposit-max"} %>
            <strong>보증금</strong>
            <span id="lease_deposit-value" class="search_values"></span>
            <div id="lease_deposit-slider" class="search_slider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="offset8 span2">
    <%= link_to_function '검색', nil, :class => 'search_btn btn-large btn-inverse', :rel => '.search_advanced' %>
  </div>
</div>


