<div id="status" class="transparent">0</div>
<div>
<%= form_tag search_rooms_path, :id => 'search_basic', :class => 'well, form-search' %>
  <%= text_field :search, :query %>
  <%= link_to_function 'Search', nil, :id => 'submit', :class => 'btn btn-inverse', :rel => '#search_basic' %>
</div>
<div id="nav">
  <ol>
    <li>
      <h2><a href="#region"><span id="nav_region">Region</span></a></h2>
      <div>
        <%= render :partial => 'main/region' %>
      </div>
    </li>
    <li>
      <h2><a href="#map"><span id="nav_map">Map</span></a></h2>
      <div>
        <%= render :partial => 'main/map' %>
      </div>
    </li>
    <li>
      <h2><a href="#search"><span id="nav_search">Search</span></a></h2>
      <div>
        <%= render :partial => 'main/search' %>
      </div>
    </li>
</div>
