<div class="row">
  <%= link_to_function raw('<button id="login_close" class="close">&times</button>'), nil %>
</div>
<div class="row span3">
  <%= form_tag session_index_path, :id => "new_session", :class => "form-horizontal form-horizontal-tooltip", :remote => true do %>
    <div class="control-group">
      <span class="h5">아이디</span>
      <span>
        <%= text_field :session, :username, :class => 'field_login' %>
      </span>
    </div>
    <div class="control-group">
      <span class="h5">비밀번호</label>
      <span>
        <%= password_field :session, :password, :class => 'field_login' %>
      </span>
    </div>
  <% end %>
</div>
<div class="row offset1 span3">
  <%= link_to_function '로그인', nil, :id => "login", :class => "btn", :rel => "#new_session" %>
  <%= link_to '회원가입', "#users/new", :id => "login_signup", :class => "btn btn-inverse" %>
</div>

<!--
<div id="session-new-sub" class="row">
  <div class="">
    비밀번호를 잊으셨다면 <%#= link_to_function '비밀번호 찾기', nil, :class => "btn btn-mini" %>
  </div>
  <div class="">
    인증 메일이 오지 않는다면 <%#= link_to '재인증 하기', nil, :class => "btn btn-mini btn-inverse" %>
  </div>
</div>
!>
