<div>
  <%= form_tag session_index_path, :id => "new_session", :remote => true do %>
    ID
    <%= text_field :session, :username %>
    PWD
    <%= password_field :session, :password %>

    <%= link_to_function 'Login', nil, :id => "login", :class => "btn", :rel => "#new_session" %>
    <%= link_to 'Sign Up', "#users/new", :class => "btn btn-primary" %>
  <% end %>
</div>
