<div>
  <%= form_tag session_index_path, :remote => true do %>
    ID
    <%= text_field :session, :username %>
    PWD
    <%= text_field :session, :password %>

    <%= link_to 'Login', session_index_path %>
    <%= link_to 'Sign Up', "#users/new" %>
  <% end %>
</div>
