<div id="container">
	<div class="shell">		
		<!-- Small Nav -->
		<div class="small-nav">
			<a href="#">평가(Evaluations)</a>
			<span>&gt;</span>
      자세히 보기

		</div>
		<!-- End Small Nav -->
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>평가 정보</h2>
					</div>
					<!-- End Box Head -->
							
						  <div class="form">
						  	<p>
									<label>Room</label>
                  <%= @evaluation.room.name %>
								</p>
								<p>
									<label>User</label>
                  <%= @evaluation.user.name %>
								</p>
								<p>
								  <label>Content</label>
								  <%= @evaluation.content %>
								</p>
								<p>
								  <label>Like</label>
								  <%= @evaluation.like %>
								</p>
								<p>
									<label>Type</label>
                  <%= @evaluation.type_name %>
								</p>	
								<p>
									<label>Deposit</label>
                  <%= @evaluation.deposit %>
								</p>	
								<p>
									<label>Rent</label>
                  <%= @evaluation.rent %>
								</p>	
								<p>
									<label>Maintenance</label>
                  <%= @evaluation.maintenance_value %>
                  <%= @evaluation.maintenance_detail %>
								</p>	
						</div>
						<!-- End Form -->
						
						<!-- Form Buttons -->
						<div class="buttons">
						  <%= link_to '돌아가기', admin_evaluations_path, :class => 'button' %>
						  <%= link_to '수정', edit_admin_evaluation_path(@evaluation), :class => 'button' %>
						</div>
						<!-- End Form Buttons -->

				</div>
				<!-- End Box -->

			</div>
			<!-- End Content -->
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

