<%= form_for(@user) do |f| %>
  <table>
    <tr>
      <td>Username</td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td colspan=2>
        <%= link_to_function "Submit", nil, :id => 'submit', :rel => '#new_user' %>
      </td>
  </table>
<% end -%>
