<div class="row span10">
  <h4 class="title">
    <%= image_tag 'bullet_black.png' %>
    회원 가입하기
  </h4>

  <ul class="form_description">
    <li>아래 정보를 모두 입력해주셔야 합니다.</li>
    <li>회원가입 후 서울대 메일 인증 후에 사용하실 수 있습니다.</li>
  </ul>

  <%= form_for(@user, :html => {:class => 'form-horizontal form-horizontal-colorbox'}) do |f| %>
    <div class="control-group">
      <label class="control-label h5">아이디</label>
      <div class="controls">
        <%= f.text_field :username %>
        <span id="validation_user_username" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">비밀번호</label>
      <div class="controls">
        <%= f.password_field :password %>
        <span id="validation_user_password" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">비밀번호 확인</label>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
        <span id="validation_user_password_confirmation" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">닉네임</label>
      <div class="controls">
        <%= f.text_field :name %>
        <span id="validation_user_name" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">이메일</label>
      <div class="controls">
        <%= f.text_field :email %>
        <span id="validation_user_email" class="help-inline"></span>
        <p class="help-block">서울대 포털 메일(@snu.ac.kr)로 작성해주세요.</p>
      </div>
    </div>
  <% end -%>

  <div class="offset7 span3">
    <%= link_to_function "가입신청", nil, :id => 'submit', :class => "btn btn-inverse", :rel => '#new_user' %>
  </div>
</div>
