<%= form_for(@user, :remote => true) do |f| %>
  <table>
    <tr>
      <td>Username</td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td colspan=2>
        전송버튼
      </td>
  </table>
<% end -%>
