<% unless params[:id] %>
  <% url = rooms_path %>
<% else %>
  <% url = room_path(@room) %>
<% end %>

<div class="row span10">
  <ul class="form_description">
    <li>방에 대한 정보를 간략하게 입력해주세요! 위치와 이름 외엔 모르셔도 괜찮습니다.</li>
    <li>월세, 관리비 등의 <strong>금액 정보는 평가를 통해 제공합니다.</strong> 여기에서는 고민하실 필요 없습니다.</li>
  </ul>
  <%= form_for(@room, :url => url, :html => {:class => "form-horizontal form-horizontal-colorbox"}) do |f| %>
    <%= f.hidden_field :lat, :value => @room.lat %>
    <%= f.hidden_field :lng, :value => @room.lng %>
    <div class="control-group">
      <label class="control-label h5">이름</label>
      <div class="controls">
        <%= f.text_field :name %>
        <span id="validation_room_name" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">종류</label>
      <div class="controls">
        <%= f.select :type, Room.option_for_type %>
        <span id="validation_room_type" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">지역</label>
      <div class="controls">
        <%= f.select :region, Room.option_for_region %>
        <span id="validation_room_region" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">주소</label>
      <div class="controls">
        <%= f.text_field :address %>
        <span id="validation_room_address" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">전화</label>
      <div class="controls">
        <%= f.text_field :phone %>
        <span id="validation_room_phone" class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">설명</label>
      <div class="controls">
        <%= f.text_area :description %>
        <span id="validation_room_description" class="help-inline"></span>
        <p class="help-block">방에 대한 소개글을 적어주세요.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">기타 사항</label>
      <div class="controls">
        <%= f.text_field :etc %>
        <span id="validation_room_etc" class="help-inline"></span>
        <p class="help-block">예) 인터넷 제공, 세탁실 공용</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label h5">그림</label>
      <div class="controls">
        <%= render :partial => 'layouts/image_form', :locals => {:model => 'room', :object => @room} %>
      </div>
    </div>
  <% end %>

  <div class="offset7 span3">
    <% unless params[:id] %>
      <%= link_to_function '추가하기', nil, :id => 'submit', :class => 'btn btn-inverse', :rel => '#new_room' %> 
    <% else %>
      <%= link_to_function '수정하기', nil, :id => 'submit', :class => 'btn btn-inverse', :rel => "#edit_room_#{@room.id}" %>
      <%= link_to '뒤로', "#rooms/#{@room.id}", :class => 'btn' %>
    <% end %>
  </div>
</div>

