<div>
  <%= link_to image_tag(img(@room).image.thumb) %>
  <br>
  <%= link_to @room.name, "#rooms/#{@room.id}" %>
  <br>
  <span class="label label-success">Good</span> <%= @room_info[:like][:true] %> / <span class="label label-warning">Bad</span> <%= @room_info[:like][:false] %>
</div>
<div>
  <% if @room_info[:size] > 0 %>
    <% if @room_info[:fee][Evaluation::RENT] %>
      월세
      <%= @room_info[:fee][Evaluation::RENT].fee %>
    <% end %>
    <br>
    <% if @room_info[:fee][Evaluation::LEASE] %>
      전세
      <%= @room_info[:fee][Evaluation::LEASE].fee %>
    <% end %>
    <br>
    관리비
    <%= @room_info[:maintenance].maintenance %>
    <%= @room_info[:maintenance].maintenance_detail %>
  <% else %>
    평가가 없습니다
  <% end %>
  <br>
</div>
<div>
  <%= cut_str(@room.description, 50, "...") %>
</div>
