<div class="row span3 infobubble">
  <h4>
    <span class="label label-inverse"><%= @room.type_name %></span>
    <%= link_to @room.name, "#rooms/#{@room.id}" %>
  </h4>

  <table class="room_info_row">
    <tr>
      <td class="room_info_thumb" rowspan=2><%= link_to image_tag(img(@room).image.thumb, :width => 50), "#rooms/#{@room.id}" %></td>
      <td>
        <span class="label label-success">좋아요</span> <%= @room_info[:like][:true] %> / 
        <span class="label label-warning">싫어요</span> <%= @room_info[:like][:false] %>
      </td>
    </tr>
    <tr>
      <td>
      <div>
        <% if @room_info[:size] > 0 %>
          <% if @room_info[:fee][Evaluation::RENT] %>
            <strong>월세</strong>
            <%= @room_info[:fee][Evaluation::RENT].fee %><br>
          <% end %>
          <% if @room_info[:fee][Evaluation::LEASE] %>
            <strong>전세</strong>
            <%= @room_info[:fee][Evaluation::LEASE].fee %><br>
          <% end %>
          <strong>관리비</strong>
          <%= @room_info[:maintenance].maintenance %>만
          <%= @room_info[:maintenance].maintenance_detail %>
        <% else %>
          평가가 없습니다
        <% end %>
      </div>
      </td>
    </tr>
  </table>
  <div>
    <%= cut_str(@room.description, 50, "...") %>
  </div>
</div>
