<%= link_to '평가하기', "#rooms/#{@room.id}/evaluations/new" %>
<br>

평가목록

<table>
  <% @evaluations.each do |ev| %>
  <tr>
    <th><%= ev.user.name %></th>
    <th><%= ev.type_name %></th>
    <th><%= ev.like %></th>
  </tr>
  <tr>
    <td colspan=3><%= ev.content %></td>
  </tr>
  <% end %>
</table>
