<div class="row span10">

  <dl class="dl-horizontal">
        <% if @room_info[:size] > 0 %>
          <% if @room_info[:fee][Evaluation::RENT] %>
            <dt>월세</dt>
            <dd><%= @room_info[:fee][Evaluation::RENT].fee %></dd>
          <% end %>
          <% if @room_info[:fee][Evaluation::LEASE] %>
            <dt>전세</dt>
            <dd><%= @room_info[:fee][Evaluation::LEASE].fee %></dd>
          <% end %>
          <dt>관리비</dt>
          <dd>
            <%= @room_info[:maintenance].maintenance %>만
            <%= @room_info[:maintenance].maintenance_detail %>
          </dd>
        <% else %>
          <dt>평가 없음</dt>
          <dd>평가 해주세요!</dd>
        <% end %>
        </dl>


  <table class="table table-striped table-condensed">
    <% @evaluations.each do |ev| %>
    <tr>
      <td>
        <p>
          <span class="h4"><%= ev.user.name %></span>
          <span class="h5-w">
            <strong><%= ev.type_name %></strong>
            <%= ev.fee %>

            <strong>관리비</strong>
            <%= ev.maintenance %> <%= ev.maintenance_detail %>
          </span>
          <span>
            <i class="icon-ok-sign"></i>
            <i class="icon-remove-sign"></i>
          </span>
        </p>
        <p>
          <% if ev.like %>
          <span class="label label-success">좋아요</span>
          <% else %>
          <span class="label label-warning">싫어요</span>
          <% end %>
          <span>
            <%= ev.content %>
          </span>
        </p>
      </td>
    </tr>
    <% end %>
  </table>

  <%= paginate @evaluations, :theme => 'evaluations' %>

</div>
