Good <%= @room_info[:like][:true] %> / Bad <%= @room_info[:like][:false] %>

<br>

<%= link_to '편집하기', "#rooms/#{@room.id}/edit" %>
<%= link_to '평가하기', "#rooms/#{@room.id}/evaluations/new" %>

<br>

평가목록

<table>
  <% @evaluations.each do |ev| %>
  <tr>
    <th><%= ev.user.name %></th>
    <th><%= ev.type_name %></th>
    <td><%= ev.fee %></td>
    <th><%= ev.like %></th>
  </tr>
  <tr>
    <th>관리비<th>
    <td colspan=3><%= ev.maintenance %> <%= ev.maintenance_detail %></td>
  </tr>
  <tr>
    <td colspan=4><%= ev.content %></td>
  </tr>
  <% end %>
</table>

<%= paginate @evaluations, :theme => 'evaluations' %>
