<div class="row span10">
  <h4 class="room_row_title">
    <i class="icon-map-marker"></i> 방 정보
  </h4>
  <dl class="dl-horizontal room_row">
    <% if @room_info[:size] > 0 %>
      <% if @room_info[:fee][Evaluation::RENT] %>
        <dt>월세</dt>
        <dd><%= @room_info[:fee][Evaluation::RENT].fee %></dd>
      <% end %>
      <% if @room_info[:fee][Evaluation::LEASE] %>
        <dt>전세</dt>
        <dd><%= @room_info[:fee][Evaluation::LEASE].fee %></dd>
      <% end %>
      <dt>관리비</dt>
      <dd>
        <%= @room_info[:maintenance].maintenance %>만
        <%= @room_info[:maintenance].maintenance_detail %>
      </dd>
    <% else %>
      <dt>정보 없음</dt>
      <dd>평가로 정보를 채워주세요!</dd>
    <% end %>
  </dl>

  <h4 class="room_row_title">
    <i class="icon-comment"></i> 평가
  </h4>
  <div class="room_evals">
    <%= render :partial => '/evaluations/index', :locals => {:evaluations => @evaluations} %>
  </div>
</div>
