<div class="row span10">
  <h4 class="room_row_title">
    <i class="icon-map-marker"></i> 방 정보
  </h4>
  <dl class="dl-horizontal room_row">
    <% if @room_info[:size] > 0 %>
      <% if @room_info[:fee][Evaluation::RENT] %>
        <dt>월세</dt>
        <dd><%= @room_info[:fee][Evaluation::RENT].fee %></dd>
      <% end %>
      <% if @room_info[:fee][Evaluation::LEASE] %>
        <dt>전세</dt>
        <dd><%= @room_info[:fee][Evaluation::LEASE].fee %></dd>
      <% end %>
      <dt>관리비</dt>
      <dd>
        <%= @room_info[:maintenance].maintenance %>만
        <%= @room_info[:maintenance].maintenance_detail %>
      </dd>
    <% else %>
      <dt>정보 없음</dt>
      <dd>평가로 정보를 채워주세요!</dd>
    <% end %>
  </dl>

  <h4 class="room_row_title">
    <i class="icon-comment"></i> 평가
  </h4>
  <table class="table table-striped table-condensed table-bordered">
    <% @evaluations.each do |ev| %>
    <tr>
      <td>
        <p class="clearfix">
          <span class="h4 room_evaluation_username">
            <% if ev.user.authorized %>
              <span class="badge badge-inverse">학생</span>
            <% end %>
            <%= ev.user.name %>(<%= ev.user.username %>)
          </span>
          <span class="h5-w">
            <strong>
              <%= ev.type_name %>
            </strong>
            <%= ev.fee %>

            <strong>관리비</strong>
            <%= ev.maintenance %> <%= ev.maintenance_detail %>
          </span>
          <span class="room_evaluation_eval right">
            <%= link_to_function raw('<i class="icon-ok-sign"></i>'), "window.room.evaluateEvaluation('#{@room.id}', '#{ev.id}', 'agree'); return false;" %> 
            <strong id="evaluation_<%= ev.id %>_agree_detail"><%= ev.agree.size %></strong> / 
            <%= link_to_function raw('<i class="icon-remove-sign"></i>'), "window.room.evaluateEvaluation('#{@room.id}', '#{ev.id}', 'disagree'); return false;" %> 
            <strong id="evaluation_<%= ev.id %>_disagree_detail"><%= ev.disagree.size %></strong>
          </span>
        </p>
        <p>
          <% if ev.like %>
          <span class="label label-success">좋아요</span>
          <% else %>
          <span class="label label-warning">싫어요</span>
          <% end %>
          <span>
            <%= line_break(ev.content).html_safe %>
          </span>
        </p>
      </td>
    </tr>
    <% end %>
  </table>

  <%= paginate @evaluations, :theme => 'evaluations' %>

</div>
