<div class="row">

  <div class="span4">
    <ul>
      <li>
        <span class="label label-info">
          <strong>지역</strong>
        </span>
      </li>
      <li><%= link_to "녹두", "#map/nokdoo" %></li>
      <li><%= link_to "서울대입구", "#map/entrance" %></li>
      <li><%= link_to "낙성대", "#map/nakseongdae" %></li>
      <li><%= link_to "신림", "#map/sinrim" %></li>
    </ul>
  </div>
  <div class="span5">
    <ul>
      <li>
        <span class="label label-info">
          <strong>구분</strong>
        </span>
      </li>
      <li>
        <%= image_tag "marker/marker_oneroom.png", :class => 'marker' %> 
        원룸
      </li>
      <li>
        <%= image_tag "marker/marker_tworoom.png", :class => 'marker' %> 
        투룸
      </li>
      <li>
        <%= image_tag "marker/marker_office.png", :class => 'marker' %> 
        오피스텔
      </li>
      <li>
        <%= image_tag "marker/marker_boarding.png", :class => 'marker' %> 
        하숙
      </li>
      <li>
        <%= image_tag "marker/marker_gosi.png", :class => 'marker' %> 
        고시원
      </li>
    </span>
  </div>
  <div class="span3">
    <ul>
      <li>
        <span class="label label-info">
          <strong>현황</strong>
        </span>
      </li>
      <li>
        <%= @room_size %>개의 방에 <%= @eval_size %>개의 평가
      </li>
    </ul>
  </div>
</div>
