<!DOCTYPE html>
<html>
<head>
  <title>snuZIP - 서울대 원룸 정보 공유 사이트</title>
  <meta property="og:title" content="snuZIP" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.snuzip.com" />
  <meta property="og:image" content="http://www.snuzip.com/assets/logo.png" />
  <meta property="og:site_name" content="snuZIP - 서울대 원룸 정보 공유 사이트" />
  <meta property="fb:admins" content="100000049761864" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="shortcut icon" href="favicon.ico" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_RLxR1wom4dMhw5EaityZt4ZgsmlXVgE&sensor=true"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="banner">
    <div id="header">
      <%= render :partial => 'layouts/header' %>
    </div>
    <div class="container">
      <div id="descriptor">
        <%= render :partial => 'layouts/descriptor' %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer" class="center clearfix">
        <%= render :partial => 'layouts/footer' %>
      </div>
    </div>
  </div>
</body>
</html>
