<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="snuZIP" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.snuzip.com" />
  <meta property="og:image" content="http://www.snuzip.com/assets/logo_big.png" />
  <meta property="og:site_name" content="snuZIP - 서울대 원룸 정보 공유 사이트" />
  <meta property="og:description" content="서울대 주변의 원룸/오피스텔 등의 정보 공유 및 평가 플랫폼" />
  <meta property="fb:app_id" content="275758869193029" />
  <title>snuZIP - 서울대 원룸 정보 공유 사이트</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_RLxR1wom4dMhw5EaityZt4ZgsmlXVgE&sensor=true"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34212899-1']);
    _gaq.push(['_setDomainName', 'snuzip.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="banner">
    <div id="header">
      <%= render :partial => 'layouts/header' %>
    </div>
    <div class="container">
      <div id="descriptor">
        <%= render :partial => 'layouts/descriptor' %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer" class="center clearfix">
        <%= render :partial => 'layouts/footer' %>
      </div>
    </div>
  </div>
</body>
</html>
